spring:
  # DB 접속 정보
  datasource:
    url: jdbc:postgresql://localhost:5432/menudb
    username: myuser
    password: mypassword
    driver-class-name: org.postgresql.Driver
  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.PostgreSQLDialect